<div>
    <h2>{{formMetaData.formName}}</h2>
        <div *ngFor="let inputItem of formMetaData.formInputData">
            
            <div *ngIf="inputItem.type == 'text'">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{inputItem.name}}</mat-label>
                    <input matInput placeholder={{inputItem.name}} value="" [(ngModel)]="inputData[inputItem.placement]">
                </mat-form-field>
            </div>

            <div *ngIf="inputItem.type == 'select'">
                <mat-form-field appearance="fill">
                    <mat-label>{{inputItem.name}}</mat-label>
                    <mat-select [(ngModel)]="inputData[inputItem.placement]" value="">
                      <mat-option *ngFor="let option of inputItem.options" [value]="option" style="font-family: Tahoma;">
                        {{option}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>

            <div *ngIf="inputItem.type == 'number'">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{inputItem.name}}</mat-label>
                    <input matInput placeholder={{inputItem.name}} value="" type="number" [(ngModel)]="inputData[inputItem.placement]">
                </mat-form-field>
            </div>

        </div>

        <mat-form-field appearance="fill">
            <mat-label>Please Slect A Date</mat-label>
            <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="dp" [(ngModel)]="date" (dateChange)="dateChanged($event)">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>

        <div>
            <table mat-table #table [dataSource]="clickedDates" class="mat-elevation-z8">
                <mat-radio-group [(ngModel)]="selectedDate">

                    <ng-container matColumnDef="available">
                        <th mat-header-cell *matHeaderCellDef>Time Slots</th>
                        <td mat-cell *matCellDef="let element"> 
                            <mat-radio-button value={{clickedDates.indexOf(element)}}> {{getTimeFormat(element.timeSlotBegin)}} - {{getTimeFormat(element.timeSlotEnd)}}</mat-radio-button>  
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </mat-radio-group>
              </table>
        </div>

        <br>
        <button mat-flat-button (click)="bookAppointment()">Book Now!</button>
</div>  