<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 message-list">
            MESSAGE LIST
        </div>
        <div class="col message-content">
            <ul role="list">
                <li>
                    <div class="send-item">
                        Hello
                    </div>
                </li>
                <li>
                    <div class="send-item">
                        Hello PEtter how are you
                    </div>
                </li>
                <li role="listitem">
                    <div class="recieve-item">
                        Hi
                    </div>
                </li>
                <li role="listitem">
                    <div class="recieve-item">
                        This is the best day ever
                        I cannot belive how happy of an occasian that this is!!! I cannot belive how happy of an occasian that this is!!!I cannot belive how happy of an occasian that this is!!!I cannot belive how happy of an occasian that this is!!!I cannot belive how happy of an occasian that this is!!!I cannot belive how happy of an occasian that this is!!!I cannot belive how happy of an occasian that this is!!!
                    </div>
                </li>
                <li>
                    <div class="send-item">
                        That Was a long message, This is an average message.

                        <img src="https://media.glassdoor.com/sqll/333541/sains-squarelogo-1466602036737.png" alt="alt">


                        billy
                    </div>
                </li>
            </ul>

            <div class="send-form">
                <mat-form-field appearance="fill">
                    <mat-label>Message</mat-label>
                    <button mat-icon-button matSuffix>
                        <mat-icon class="send-icon">
                            send
                        </mat-icon>
                    </button>
                    <textarea matInput matTextareaAutosize></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>