
<div class="create-form-wrapper">
    <mat-form-field appearance="fill">
        <mat-label>Form Name</mat-label>
        <input matInput placeholder="Form Name" value="" [(ngModel)]="newForm.formName">
    </mat-form-field>
    <br>
    <div class="add-section">
        <button mat-flat-button (click)="toggleShowSelect()">
            <mat-icon>add_circle</mat-icon>
            Add Input
        </button>
        <br><br>
        <mat-form-field appearance="fill" *ngIf="showSelect">
            <mat-label>Select Input Type</mat-label>
            <mat-select [(ngModel)]="selectedAdd" value="" (onChange)="testChange()">
                <mat-option *ngFor="let addInput of addInputs" [value]="addInput" style="font-family: Tahoma;">
                {{addInput}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>