
<div class="container-fluid">
    <div class="row">
        <div  class="col-md-1"></div>
        <div class="col-md-10">
            <mat-tab-group dynamicHeight>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span>Overview&nbsp;&nbsp;</span>
                        <mat-icon>visibility</mat-icon>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span>Manage Forms&nbsp;&nbsp;</span>
                        <mat-icon>description</mat-icon>
                    </ng-template>
                    <app-manage-forms></app-manage-forms>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span>Messages&nbsp;&nbsp;</span>
                        <mat-icon>mail</mat-icon>
                    </ng-template>
                    <app-dashboard-messages></app-dashboard-messages>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span>Data&nbsp;&nbsp;</span>
                        <mat-icon>query_stats</mat-icon>
                    </ng-template>
                    <app-dashboard-data></app-dashboard-data>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span>Scheduling&nbsp;&nbsp;</span>
                        <mat-icon>event</mat-icon>
                    </ng-template>
                    <app-dashboard-scheduling></app-dashboard-scheduling>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>