.cards-wrapper{
    margin-top: 30px;
}

::ng-deep mat-card{
    margin-top: 10px;
    height: 300px;
}

::ng-deep .add-form-card-content {
    cursor: pointer;
    text-align: center;
}

::ng-deep .add-form-card-content .add-form{
    margin-left: -55px;
    margin-top: 60px !important;
    font-size: 80px;
}